.content{
    display: flex;
    align-items: center;
    margin: 30px;
}
.content-left{
    width: 650px;
    margin-left: auto;
    margin-right: 10px;
    padding: 40px;
    padding-top: 10px;
    background-color:rgb(211, 185, 222);
    color: rgb(71, 40, 95);
    border-radius: 5px;
}
.content-right{
    width: 600px;
    margin-left: 10px;
    margin-right: auto;
    padding: 40px;
    background-color: rgb(211, 185, 222);
    border-radius: 5px;
}
.pic{
    width: 600px;
    border-radius: 5px;
}
.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
.head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
.header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    color:rgb(211, 185, 222);
}
.link{
    color:rgb(71, 40, 95);
}
.container{
    background-color:rgb(211, 185, 222);
    padding: 20px;
}
.block{
    height: 200px;
    width: 200px;
    background-color:rgb(71, 40, 95);
    margin: auto;
}
.pic-2{
    display: block;
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.container-2{
    background-color:rgb(211, 185, 222);
    padding: 20px;
    display: flex;
    align-items: center;
}
.block-2{
    height: 200px;
    width: 200px;
    background-color:rgb(71, 40, 95);
    margin: auto;
}
.container-3{
    background-color:rgb(211, 185, 222);
    border: 3px solid rgb(71, 40, 95);
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.block-3{
    height: 200px;
    width: 200px;
    background-color:rgb(71, 40, 95);
    margin: 10px;
}
.p-wrapper{
    background-color:rgb(211, 185, 222);
    border: 3px solid rgb(71, 40, 95);
    padding: 20px;
}
.p-block-1{
    border: 3px solid rgb(78, 47, 102);
    height: 200px;
    width: 200px;
    margin: 20px;
}
.p-block-2{
    border: 3px solid rgb(129, 75, 170);
    height: 200px;
    width: 200px;
    margin: 20px;
    position: relative; 
    right: 100px;
    left: 100px;
    bottom: 100px;
}
.p-block-3{
    border: 3px solid rgb(171, 128, 204);
    height: 200px;
    width: 200px;
    margin: 20px;
    position: relative; 
    right: 200px;
    left: 200px;
    bottom: 200px;
}
.pic-3{
    position: fixed;
    bottom: 0;
    right: 0;
}
body{
    background-image: url("../images/bg5.jpg");
}
h1{
    text-align: center;
    color:rgb(211, 185, 222);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;

}



